To use these values, first add '.env' to your .gitignore file
Next, create a file at the root of your server called .env
Copy and paste this into the file:

REACT_APP_API_URL_SEARCH=https://api.themoviedb.org/3/search/movie?
REACT_APP_API_KEY_SEARCH=057dfa32a18eed0f2dc23dc2e80ed8a0

An .env file is used to store secrets so they are not revealed in client side code
